doctype html
html(lang=en ng-app='app')
    head
        title requests
        include headDependencies
    body(ng-controller='ctrl')
        include navbar
        .container-fluid
            .row
                .col-md-12
                    h1 Requests
                    table.table.table-striped
                        thead
                            tr
                                th elder
                                th volunteer
                                th time
                                th timeBack
                                th location
                                th requestType
                                th retour
                                th note
                                th
                                th
                        tbody
                            tr(ng-repeat='request in requests track by $index')
                                td
                                    typeahead(source='uniqueElders' ng-model="elders[$index]")
                                td
                                    typeahead(source='uniqueVolunteers' ng-model="volunteers[$index]")
                                td
                                    datetimepicker(model='request.time', ng-model='request.time')
                                td
                                    datetimepicker(model='request.timeback', ng-model='request.timeback')
                                td
                                    input.form-control(type='text', ng-model='request.location')
                                td
                                    input.form-control(type='text', ng-model='request.requestTypeid')
                                td
                                    button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='request.retour') retour
                                td
                                    input.form-control(type='text', ng-model='request.note')
                                td
                                    button.btn.btn-warning(type='button', ng-click='update($index)') Save
                                td
                                    button.btn.btn-danger(type='button', ng-click='delete($index)') Delete
                            tr
                                td
                                    typeahead(source='uniqueElders' ng-model="elderName")
                                td
                                    typeahead(source='uniqueVolunteers' ng-model="volunteerName")
                                td
                                    datetimepicker(model='time')
                                td
                                    datetimepicker(model='timeback')
                                td
                                    input.form-control(type='text', ng-model='location')
                                td
                                    input.form-control(type='text', ng-model='requestTypeid')
                                td
                                    button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='retour') retour
                                td
                                    input.form-control(type='text', ng-model='note')
                                td
                                    button.btn.btn-primary(type='button' ng-click='post()') Add
                                td

    include bodyDependencies
    script(src='../js/requestctrl.js')