doctype html
html(lang=en ng-app='app')
    head
        title requests
        include headDependencies
    body(ng-controller='ctrl')
        include navbar
        .container-fluid
            .row
                .col-md-8.col-md-offset-2
                    h1 Requests
                    table.table.table-striped
                        thead
                            tr
                                th elder
                                th volunteer
                                th location
                                th time
                                th timeBack
                                th requestType
                                th retour
                                th note
                                th
                        tbody
                            tr(ng-repeat='request in requests track by $index')
                                td
                                    input.form-control(type='text', ng-model='elders[$index]', uib-typeahead='elder for elder in uniqueElders | filter:$viewValue', typeahead-show-hint='true', typeahead-min-length='0')
                                td
                                    input.form-control(type='text', ng-model='volunteers[$index]', uib-typeahead='volunteer for volunteer in uniqueVolunteers', typeahead-show-hint='true', typeahead-min-length='0')
                                td
                                    input.form-control(type='text', ng-model='request.time')
                                td
                                    input.form-control(type='text', ng-model='request.location')
                                td
                                    button.btn.btn-warning(type='button', ng-click='update($index)') Save
                                td
                                    button.btn.btn-danger(type='button', ng-click='delete($index)') Delete
                            tr
                                td
                                    input.form-control(type='text', ng-model='elderid', uib-typeahead='elder for elder in uniqueElders', typeahead-show-hint='true', typeahead-min-length='0')
                                td
                                    input.form-control(type='text', ng-model='volunteerid', uib-typeahead='volunteer for volunteer in uniqueVolunteers', typeahead-show-hint='true', typeahead-min-length='0')
                                td
                                    input.form-control(type='text' ng-model='time' id='inpTime')
                                td
                                    input.form-control(type='text', ng-model='location')
                                td
                                    button.btn.btn-primary(type='button' ng-click='post()') Add

    include bodyDependencies
    script(src='../js/requestctrl.js')