doctype html
html(lang=en ng-app='app')
    head
        title requests
        include headDependencies
    body(ng-controller='ctrl')
        include navbar
        .fluid-container
            .row
                .col-md-8.col-md-offset-2
                    h1 Requests
                    table.table.table-striped
                        thead
                            tr
                                th elderid
                                th volunteerid
                                th time
                                th location
                                th
                                th
                        tbody
                            tr(ng-repeat='request in requests track by $index')
                                td
                                    input.form-control(type='text', ng-model='elders[request.elderid].name')
                                td
                                    input.form-control(type='text', ng-model='volunteers[request.volunteerid].name')
                                td
                                    input.form-control(type='text', ng-model='request.time')
                                td
                                    input.form-control(type='text', ng-model='request.location')
                                td
                                    button.btn.btn-warning(type='button', ng-click='update($index)') Save
                                td
                                    button.btn.btn-danger(type='button', ng-click='delete($index)') Delete
                            tr
                                td
                                    input.form-control(type='text', ng-model='elderid', id='elderid')
                                td
                                    input.form-control(type='text', ng-model='volunteerid', id='volunteerid')
                                td
                                    input.form-control(type='text', ng-model='time')
                                td
                                    input.form-control(type='text', ng-model='location')
                                td
                                    button.btn.btn-primary(type='button' ng-click='post()') Add

    include bodyDependencies
    script(src='../js/requestctrl.js')