doctype html
html(lang=en ng-app='app')
    head
        title requests
        include headDependencies
    body(ng-controller='ctrl')
        include navbar
        .container-fluid
            .row
                .col-md-12
                    h1 Requests
                    .row
                        .col-md-4
                            .input-group
                                span#addon.input-group-addon
                                    i.glyphicon.glyphicon-search
                                input.form-control(ng-model='searchText', type='text', placeholder='Search', aria-describedby='addon')
                    table.table.table-striped
                        thead
                            tr
                                th elder
                                th volunteer
                                th time
                                th timeBack
                                th location
                                th requestType
                                th retour
                                th note
                                th
                                th
                        tbody
                            tr(ng-repeat='request in requests | filter:searchText | orderBy : "time" track by $index')
                                td
                                    typeahead(source='uniqueElders' ng-model="request.elderName")
                                td
                                    typeahead(source='uniqueVolunteers' ng-model="request.volunteerName")
                                td
                                    datetimepicker(model='request.time', ng-model='request.time')
                                td
                                    datetimepicker(model='request.timeback', ng-model='request.timeback')
                                td
                                    input.form-control(type='text', ng-model='request.location')
                                td
                                    typeahead(source='uniqueRequestTypes' ng-model="request.requestName")
                                td
                                    button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='request.retour') retour
                                td
                                    input.form-control(type='text', ng-model='request.note')
                                td
                                    //pass object in parameter instead of index
                                    button.btn.btn-warning(type='button', ng-click='update(request)') Save
                                td
                                    button.btn.btn-danger(type='button', ng-click='delete(request)') Delete
                            tr
                                td
                                    typeahead(source='uniqueElders' ng-model="elderName")
                                td
                                    typeahead(source='uniqueVolunteers' ng-model="volunteerName")
                                td
                                    datetimepicker(model='time' ng-model='time')
                                td
                                    datetimepicker(model='timeback' ng-model='timeback')
                                td
                                    input.form-control(type='text', ng-model='location')
                                td
                                    typeahead(source='uniqueRequestTypes' ng-model="requestName")
                                td
                                    button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='retour') retour
                                td
                                    input.form-control(type='text', ng-model='note')
                                td
                                    button.btn.btn-primary(type='button' ng-click='post()') Add
                                td

    include bodyDependencies
    script(src='../js/requestctrl.js')