doctype html
html(lang=en ng-app='app')
    head
        title volunteers
        include headDependencies
    body(ng-controller='ctrl')
        include navbar
        .fluid-container
            .row
                .col-md-8.col-md-offset-2
                    h1 Volunteers
                    table.table.table-striped
                        thead
                            tr
                                th name
                                th mon
                                th tue
                                th wed
                                th thu
                                th fri
                                th sat
                                th sun
                        tbody
                            tr(ng-repeat='volunteer in volunteers track by $index')
                                td
                                    input.form-control(type='text', ng-model='volunteers[$index].name')
                                td
                                    button.btn.btn-warning(type='button', ng-click='update($index)') Save
                                td
                                    button.btn.btn-danger(type='button', ng-click='delete($index)') Delete
                            tr
                                td
                                    input.form-control(type='text', ng-model='name')
                                td
                                    button.btn.btn-primary(type='button', ng-click='post()') Add

    include bodyDependencies
    script(src='../js/volunteerctrl.js')