doctype html
html(lang=en ng-app='app')
    head
        title volunteers
        include headDependencies
    body(ng-controller='ctrl')
        include navbar
        .fluid-container
            .row
                .col-md-8.col-md-offset-2
                    h1 Volunteers
                    table.table.table-striped
                        thead
                            tr
                                th name
                                th schedule
                                th
                                th
                        tbody
                            tr(ng-repeat='volunteer in volunteers track by $index')
                                td
                                    input.form-control(type='text', ng-model='volunteers[$index].volunteerName')
                                td
                                    .btn-group
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='volunteers[$index].mon') mon
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='volunteers[$index].tue') tue
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='volunteers[$index].wed') wed
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='volunteers[$index].thu') thu
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='volunteers[$index].fri') fri
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='volunteers[$index].sat') sat
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='volunteers[$index].sun') sun
                                td
                                    button.btn.btn-warning(type='button', ng-click='update($index)') Save
                                td
                                    button.btn.btn-danger(type='button', ng-click='delete($index)') Delete
                            tr
                                td
                                    input.form-control(type='text', ng-model='volunteerName')
                                td
                                    .btn-group
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='mon') mon
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='tue') tue
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='wed') wed
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='thu') thu
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='fri') fri
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='sat') sat
                                        button.btn.btn-default(uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model='sun') sun
                                td
                                    button.btn.btn-primary(type='button', ng-click='post()') Add
                                td

    include bodyDependencies
    script(src='../js/volunteerctrl.js')